@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OhSnap!</h2>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Available actions</strong></div>
				<div class="list-group">
				<a href="/Patients" class="list-group-item">
			    	<h4 class="list-group-item-heading">Patients</h4>
			    	<p class="list-group-item-text">Manage patients and associated forms</p>
			  	</a>
			  	<a href="#" class="list-group-item">
			    	<h4 class="list-group-item-heading">Complex reports</h4>
			    	<p class="list-group-item-text">Click here for some profoundly moving charts and graphs.</p>
			  	</a>
			  	<a href="https://www.reddit.com/r/catpictures/" class="list-group-item">
			    	<h4 class="list-group-item-heading">Pictures of cats</h4>
			    	<p class="list-group-item-text">Sometimes you need a break from fractures.</p>
			  	</a>
			</div>
		</div>
	</div>
</div>