<!DOCTYPE html>
<html ng-app="OhSnapApp">
<head>
    <title>OhSnap!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/select.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/select.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/ts/app.js"></script>
    <script src="~/ts/services.js"></script>
    <script src="~/ts/controllers.js"></script>
</head>
<body>
    <div class="container-fluid" ng-controller="OhSnapCtrl">
        <div class="row">
            <div class="col-md-12">
                <strong>Selected patient:</strong>
                <div ng-if="selection.patient != null">
                    {{formatPatient(selection.patient)}}
                </div>
            </div>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#patient" aria-controls="patient" role="tab" data-toggle="tab">Patient</a></li>
            <li role="presentation"><a href="#injury" aria-controls="injury" role="tab" data-toggle="tab">Injury</a></li>
            <li role="presentation"><a href="#fracture" aria-controls="fracture" role="tab" data-toggle="tab">Fracture</a></li>
            <li role="presentation"><a href="#operation" aria-controls="operation" role="tab" data-toggle="tab">Operation</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="patient">
                @Html.Partial("PatientTab")
            </div>
            <div role="tabpanel" class="tab-pane" id="injury">...</div>
            <div role="tabpanel" class="tab-pane" id="fracture">...</div>
            <div role="tabpanel" class="tab-pane" id="operation">...</div>
        </div> 
    </div>
</body>
</html>
