@model IEnumerable<OhSnap.Models.Patient>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading"><h3>Patients</h3></div>
<div class="panel-body">
<table class="table">
<thead>
<th>ID</th><th>First name</th><th>Last name</th><th>Age</th>
</thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
        <a href="/Patients/Details/@item.ID">Details</a>
        <!--- should be: (at)Html.ActionLink("Details", "Details", "Patients", new { id = "(at)" }, null) 
        	  But there's a bug in mono that results in complaints about missible extensions...
        -->
        </td>
    </tr>
}
</table>
</div>
</div>
</div>
</div>
