@model OhSnap.Models.Patient

<!DOCTYPE html>
<html ng-app="OhSnapApp">
<head>
    <title>Manage Forms</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/select.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/ui-grid.min.css">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/select.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>
    <script src="~/ts/services.js"></script>
    <script src="~/ts/controllers/manage_forms.js"></script>
    <script src="~/ts/app.js"></script>
</head>
<body ng-controller="ManageFormsCtrl">
    Patient: <strong>{{patient.FirstName}} {{patient.LastName}}</strong><br />
    Age: <strong>{{patient.Age}}</strong>
    <div ng-view>
    </div>
</body>
<script>
    angular.module("manageFormsControllers").value("patientID", @Html.Raw(Model.ID));
</script>
</html>